@charset "utf-8";
	.backbtn1
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 715px;
	top : 681px;
	width : 117px;
	height : 40px;
	border-radius : 11px;
	-moz-border-radius : 11px;
	-webkit-border-radius : 11px;
}
.backbtn2
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 1077px;
	top : 683px;
	width : 117px;
	height : 40px;
	border-radius : 11px;
	-moz-border-radius : 11px;
	-webkit-border-radius : 11px;
}
data
{
	background-image : url(data.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1076px;
	top : 525px;
	width : 117px;
	height : 114px;
}
.gps
{
	background-image : url(gps.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 714px;
	top : 525px;
	width : 117px;
	height : 114px;
}
.barra
{
	background : #000000;
	background : rgba(0, 0, 0, 1);
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 0px;
	position : absolute ;
	left : 0px;
	top : 0px;
	width : 1920px;
	height : 83px;
}
.st0
{
	background : #44BEEC;
	background : rgba(68, 190, 236, 1);
	position : absolute ;
	left : 0px;
	top : 83px;
	width : 1920px;
	height : 996px;
}
.st1
{
	position : absolute ;
	left : 374px;
	top : 321px;
	width : 1149px;
	height : 484px;
}
.Estilodecarcternormal5
{
	font-family : Myriad Pro;
	font-size : 24px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.Estilodecarcternormal4
{
	font-family : Myriad Pro;
	font-size : 24px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.Estilodecarcternormal3
{
	font-family : Myriad Pro;
	font-size : 24px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.Estilodecarcternormal2
{
	font-family : Myriad Pro;
	font-size : 75px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.Estilodecarcternormal1
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.Estilodecarcternormal
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
}
